<md-dialog aria-label="Vote For Topic">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Vote For {{$vote.topicName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$vote.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="$vote.email" type="email" md-autofocus />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="$vote.save()">
                Save
            </md-button>
            <md-button ng-click="$vote.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>