<md-dialog aria-label="Create Topic">
    <ng-form name="$create.form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Topic</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$create.cancel()" ng-disabled="$create.isSaving">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container ng-hide="$create.isSaving">
                    <label>Topic Name</label>
                    <input ng-model="$create.topicName" type="text" required md-autofocus ng-disabled="$create.isSaving"/>
                </md-input-container>
                
                <div layout="row" layout-align="space-around" ng-show="$create.isSaving">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="$create.save()" ng-disabled="$create.isSaving || !$create.canSave">
                Save
            </md-button>
            <md-button ng-click="$create.cancel()" ng-disabled="$create.isSaving">
                Cancel
            </md-button>
        </md-dialog-actions>
    </ng-form>
</md-dialog>