welcome {
    div.jumbotron {
        background-color: #eeeeee;
        
        h5.md-display-2 {
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
        }
    }
}