<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="$detail.goBack()">
                <md-icon>back_arrow</md-icon>
            </md-button>
            <h2>{{$detail.topic}}</h2>
            <span flex></span>
            <md-button ng-click="$detail.save()">
                Save
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <ng-form name="form" >
            <md-input-container>
                <label>Topic</label>
                <input type="text" ng-model="$detail.topic" />
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <textarea ng-model="$detail.description" rows="5"></textarea>
            </md-input-container>
            
            <md-list>
                <md-list-item class="secondary-button-padding" ng-repeat="file in $detail.files">
                    <h4>{{file.name}}</h4>
                    <md-button class="md-secondary" ng-click="$detail.downloadFile(file)">
                        Download
                    </md-button>
                </md-list-item>
            </md-list>
        </ng-form>
    </md-content>
</div>