<div layout="column" layout-align="center center" flex layout-padding>
    <div layout="column" layout-align="start start" class="md-whiteframe-3dp jumbotron">
        <h5 class="md-display-2" >Welcome to Sogeti Academy</h5>
        <p>
            Please feel free to vote on the topics to be explored in the academy.
        </p>
        <md-button ui-sref="{{$welcome.topicsState.name}}" class="md-raised md-primary">
            {{$welcome.topicsState.title}}
        </md-button>
    </div>
</div>