<md-sidenav class="md-sidenav-left" md-is-open="$sidenav.isSidenavOpen" md-component-id="left" md-is-locked-open="$sideNav.isDockedOpen">
    <header layout-padding>
        <md-button ng-click="$sidenav.navigate($sidenav.homeState)">
            {{$sidenav.homeState.title}}
        </md-button>
    </header>
    <md-content layout-padding role="navigation">
        <ul>
            <li flex ng-repeat="state in $sidenav.states">
                <md-button flex ng-click="$sidenav.navigate(state)" >
                    {{state.title}}
                </md-button>
            </li>
        </ul>
    </md-content>
</md-sidenav>