@{
    Layout = "~/General/Layouts/Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to Sogeti Academy!</h1>
    <p>
        Please feel free to vote on the topics to be explored in the academy.
    </p>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Index", "Topics")">Topics</a>
    </p>
</div>