div.topics {
    form {
        margin-bottom: 0;
    }
    .topics-list {
        margin-top: 15px;
        
        .btn-vote {
            margin-right: 15px;
        }
    }
    
    .create-topic-form {
        margin-top: 15px;
    }
}