<md-dialog aria-label="Add Presentation">
    <ng-form name="$add.form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Presentation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$add.cancel()" ng-disabled="$add.isSaving">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container ng-hide="$add.isSaving">
                    <label>Topic</label>
                    <input ng-model="$add.topic" type="text" required md-autofocus ng-disabled="$add.isSaving" />
                </md-input-container>
                <md-input-container ng-hide="$add.isSaving">
                    <label>Description</label>
                    <input ng-model="$add.description" type="text" ng-disabled="$add.isSaving" />
                </md-input-container>
                
                <md-button ng-hide="$add.isSaving" ng-disabled="$add.isSaving" ngf-multiple="true" ngf-select="$add.selectFiles($files)">
                    Select files
                </md-button>
                
                <md-list ng-hide="$add.isSaving" md-scroll-y>
                    <md-list-item class="secondary-button-padding" ng-repeat="file in $add.files">
                        <h4>{{file.name}}</h4>
                        <md-button class="md-icon-button md-secondary" ng-click="$add.removeFile(file)" ng-disabled="$add.isSaving" >
                            <md-icon>remove</md-icon>
                        </md-button> 
                    </md-list-item>
                </md-list>
                <div layout="row" layout-align="space-around" ng-show="$add.isSaving">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="$add.save()" ng-disabled="$add.isSaving || !$add.canSave">
                Save
            </md-button>
            <md-button ng-click="$add.cancel()" ng-disabled="$add.isSaving">
                Cancel
            </md-button>
        </md-dialog-actions>
    </ng-form>
</md-dialog>